    <div class="container" role="main">
    <% @blog%>
      <div class="blog-header">
        <h1 class="blog-title"><%= @blog.blog_name%></h1>
        <p class="lead blog-description"><%= @blog.sub_name %></p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
              <div class="blog-post">
              <% @post.each do |post| %>
                <h2 class="blog-post-title"><%= post.title %></h2>
                <p class="blog-post-meta"> <%= post.updated_at %> <a href="/"><%= @user.username %></a></p>
                <p> <%= post.content %></p>
                <p class="blog-post-meta">
                    Tags
                    <% @post_tags = PostTag.where(post_id: post.id) %>
                      <% @post_tags.each do |ptag| %>
                      <% @tag = Tag.find(ptag.tag_id) %>
                      <a href="/search/<%= @tag.id %>"><%= @tag.name %> </a>
                      <% end %>
                      </p>
              <% end %>
          </div><!-- /.blog-post -->
          <nav>
            <ul class="pager">
              <li><a href="/profile">Previous</a></li>
              <li><a href="/profile/next20">Next</a></li>
            </ul>
          </nav>
        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p><%= blog.description %></p>
            <% end %>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
